<h1>Playlists</h1>
<%= link_to 'update', fetch_playlists_path, method: :post %>

<ul>
  <% @playlists.each do |playlist| %>
    <li>
      <%= image_tag playlist.thumbnail_url %>
      <%= playlist.title %>
      <%= playlist.description %>
    </li>
  <% end %>
</ul>
